html {
      font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
      font-family: 'Open Sans', sans-serif;   /* ищи фонты по ссылке https://fonts.google.com/?preview.size=8&query=sans+&sort=popularity */
      background-color: #00539F;              /* Изменение цвета страницы, ищи цвета по ссылке https://developer.mozilla.org/ru/docs/Web/CSS/CSS_colors/Color_picker_tool */
     }


/* Теперь мы установим размер шрифта для элементов, содержащих текст внутри HTML тела (<h1> (en-US), <li>, и <p>). Мы также
 * отцентрируем текст нашего заголовка и установим некоторую высоту строки и расстояние между буквами в теле документа, чтобы
 * сделать его немного более удобным для чтения: */
h1 {
  font-size: 60px;
  text-align: center;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;                /* ширина тела */
  margin: 0 auto;              /* SEE https://developer.mozilla.org/ru/docs/Web/CSS/margin#values */
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;     /* просто устанавливает сплошную чёрную рамку шириной 5 пикселей со всех сторон тела. */
}

h1 {                           /* стилизация нашего заголовка главной страницы */
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;    
}

img {                  /* Центрирование изображения */
  display: block;
  margin: 0 auto;
}
/* В заключение, мы отцентрируем изображение, чтобы оно лучше выглядело.
 * Мы можем использовать margin: 0 auto уловку снова, как мы это делали раньше для body,
 * но мы также должны сделать кое-что ещё. Элемент <body> является блочным, это значит,
 * что он занимает всю ширину страницы и может иметь margin и другие значения отступов,
 * применяемых к нему. Изображения, наоборот, являются строчными элементами, то есть они
 * этого не могут. Таким образом, чтобы применить margin к изображению, мы должны дать
 * изображению блочное поведение с помощью display: block;. */